/* stylesheet for prolog
*/
.main_title{
    font-size: 10vh;
}
.timestamp{
    font-family: "Courier New", serif;
    font-size: 5vh;
    bottom: 10%;
    left: 10%;
    position: absolute;
    border-right: 2px solid rgba(255,255,255,.75);
    white-space: nowrap;
    overflow: hidden;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
}
#quote{
    font-size: 7vh;
    font-style: italic;
}
#description{
    font-size: 5vh;
    text-align: center;
}

/* Animation */
.anim-typewriter{
    width:0;
    /*animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;*/
}

/*@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}

@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}*/