/* stylesheet for prolog
*/
.main_title{
    font-size: 9vh;
    letter-spacing: 0.4em;
    text-align: center;
}
#logo{
    font-size: 7vh;
    margin-top: -30%;
    letter-spacing: 0.2em;
    padding-bottom: 10px;
    border-bottom: 1px solid white;

}
.timestamp{
    font-family: "Courier New", serif;
    font-size: 5vh;
    bottom: 10%;
    left: 10%;
    position: absolute;
    border-right: 2px solid rgba(255,255,255,.75);
    white-space: nowrap;
    overflow: hidden;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
}
#quote{
    font-size: 3vh;
    font-style: italic;
}
#description{
    font-size: 3.5vh;
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
}
.textblock{
    font-size: 3.5vh;
    text-align: justify;
}
.textline{
    ffont-size: 5vh;
    text-align: center;
}
.quote_position{
    margin-right:300px;
}
.quote{
    text-align: right;
    font-style: italic;
    line-height: 1.5em;
}
.quote_name{
    text-align:right;
    font-size: 1.9vh;
    line-height: 1.5em;
}
#Slide2{
    background-color: black;
}
/* Animation */
.anim-typewriter{
    width:0;
    /*animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;*/
}

/*@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}

@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}*/




.scroll {
    position: absolute;
    width: 30px;
    height: 50px;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: auto;
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 40px;
}

