/* stylesheet for prolog
*/

.timestamp {
    font-family: "Courier New", serif;
    font-size: 5vh;
    bottom: 10%;
    left: 10%;
    position: absolute;
    border-right: 2px solid rgba(255, 255, 255, .75);
    white-space: nowrap;
    overflow: hidden;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

#logo {
    font-size: 7vh;
    margin-top: -30%;
    letter-spacing: 0.2em;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

#mainTitle {
    top: 30%;
    position: relative;
    visibility: hidden;
    font-size: 9vh;
    letter-spacing: 0.4em;
}

#quote {
    top: 30%;
    position: relative;
    visibility: hidden;
    font-size: 3vh;
    font-style: italic;

}

#description {
    top: 35%;
    position: relative;
    visibility: hidden;
    font-size: 3.5vh;
}

.textblock {
    font-size: 3.5vh;
    text-align: justify;
}

#prolog1 {
    top: 21%;
    position: relative;
    visibility: hidden;
}

#prolog2 {
    top: 20%;
    position: relative;
    visibility: hidden;
}

#prolog3 {
    top: -50%;
    position: relative;
    visibility: hidden;
}

#prologQuote {
    top: -40%;
    position: relative;
    visibility: hidden;
}

#prolog4 {
    top: -40%;
    position: relative;
    visibility: hidden;
}

.textline {
    font-size: 5vh;
    text-align: center;
}

.quote {
    font-size: 3.5vh;
    text-align: right;
    font-style: italic;
    line-height: 1.5em;
}

.quote_name {
    text-align: right;
    font-size: 1.9vh;
    line-height: 1.5em;
}

/* Animation */
.anim-typewriter {
    width: 0;
}

.scroll {
    position: absolute;
    width: 30px;
    height: 50px;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: auto;
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 40px;
}

