/*
stylesheet for all Scenes
*/

/*
class content for every layer in scene needed
*/
.content {
    height: 100%;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}

.story {
    align-items: center;
    flex-direction: column;
    display: flex;
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
}

/*
SPEECHBUBBLE FOR EVERY SCENE USEABLE
/////////////////////////////////////
*/
.speechbubble_diamond {
    background: url("../Media/speechbubbles/Endversion Diamant.png");
    z-index: 99;
    visibility: hidden;
    position: absolute;
}

.speechbubble_circle {
    background: url("../Media/speechbubbles/Endversion Kreis.png");
    z-index: 99;
    visibility: hidden;
    position: absolute;
}

.speechbubble_square {
    background: url("../Media/speechbubbles/Endversion Viereck.png");
    z-index: 99;
    visibility: hidden;
    position: absolute;
}

.thoughtbubble_square {
    background: url("../Media/thoughtbubbles/quadratThought.png");
    z-index: 99;
    visibility: hidden;
    position: absolute;
}

.thoughtbubble_circle {
    background: url("../Media/thoughtbubbles/circleThought.png");
    z-index: 99;
    visibility: hidden;
    position: absolute;
}

.thoughtbubble_diamond {
    background: url("../Media/thoughtbubbles/diamondThought.png");
    z-index: 99;
    visibility: hidden;
    position: absolute;
}

/*
/////////////////////////////////////
LAYERS - FOR EVERY SCENE USEABLE
 */
.scenes_layer0 {
    position: absolute;
    z-index: 0;
}

.scenes_layer01 {
    position: absolute;
    z-index: 1;
}

.scenes_layer02 {
    position: absolute;
    z-index: 2;
}

.scenes_layer03 {
    position: absolute;
    z-index: 3;
}

.scenes_layer04 {
    position: absolute;
    z-index: 4;
}

.scenes_layer05 {
    position: absolute;
    z-index: 5;
}

/*
/////////////////////////////////////
FOR EVERY SCENE USEABLE
 */
.inner_content {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 30%;
    width: 70%;
    height: 40%;
    text-align: center;
}

.inner_content > p {
    font-size: 2vh;
}

.blur {
    filter: none;
}

.textblock {
    z-index: 99;
    visibility: hidden;
    font-size: 3.5vh;
    text-align: justify;
    background-color: hsla(0, 0%, 0%, 0.58);
    padding: 20px;
    border: 2px solid #262626;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
    position: absolute;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.textline {
    font-size: 200%;
    background-color: hsla(0, 0%, 0%, 0.58);
    padding: 20px;
    z-index: 99;
    visibility: hidden;
    text-align: center;
    margin: 0 auto;
    position: relative;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.dark_textline {
    visibility: hidden;
    text-align: center;
    position: relative;
    background-color: hsla(360, 100%, 100%, 0.8);
    padding: 20px;
    color: #262626;
    font-size: 3vh;
}

.shadow_textline {
    font-size: 200%;
    text-shadow: 2px 2px #262626;
}

.person {
    position: absolute;
    visibility: hidden;
    z-index: 98;
}

/*--- COVER ---*/
#cover {
    position: relative;
}

/*--- PROLOG ---*/
#Prolog {
    background: black;
    width: 70%;
    height: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.textblock_prolog {
    z-index: 2;
    visibility: hidden;
    font-size: 3.5vh;
    text-align: justify;
}

/*--- SCENE 1 ---*/
.scene01 {
    position: relative;
}

.scene1bubble {
    top: 16%;
}

#scene01_bubble_quinn {
    width: 15%;
    height: 30%;
    top: 50%;
    left: 24%;
}

#bubble_quinn_text {
    top: 25%;
}

#scene01_bubble1 {
    width: 15%;
    height: 30%;
    top: 18%;
    right: 30%;
}

#scene_one_quinn {
    width: 8%;
    height: 30%;
    left: 20%;
    bottom: 0;
    z-index: 5;
}

/*--- SCENE 2 ---*/
.scene02 {
    position: relative;
}

#scene02_foreground {
    bottom: -12% !important;
}

#scene02_quinn {
    visibility: visible;
    width: 30%;
    height: 90%;
    bottom: -10%;
    left: 10%;
}

.scene2bubble {
    top: 20%;
}

#scene02_bubble1 {
    width: 30%;
    height: 60%;
    top: 10%;
    right: 30%;
}

#scene02_textblock1 {
    top: 21%;
    position: relative;
}

#scene02_textblock2 {
    text-align: center;
    left: 8%;
    right: auto;
}

#scene02_textblock3 {
    top: 70%;
    left: 8%;
    right: auto;
}

#scene02_textblock4 {
    font-size: 200%;
    background-color: hsla(0, 0%, 0%, 0.58);
    padding: 20px;
    text-align: center;
    top: 15%;
}

#scene02_textblock5 {
    left: 8%;
    right: auto;
    top: 30%;
}

/*--- SCENE 3 ---*/
#scene03_adam1 {
    visibility: visible;
}

#scene03_textline2 {
    top: 50%;
}

#battery_animation_1 {
    visibility: hidden;
}

#battery_hospital {
    position: relative;
    top: -30%;
    left: -3%;
    visibility: hidden;
}

#scene03_textblock2 {
    left: 8%;
    right: auto;
}

#scene03_textblock3 {
    top: -9.5%;
}

#scene03_textline1 {
    bottom: 0;
}

#scene03_textblock4 {
    left: 9%;
    top: 50%;
}

#scene03_thoughtBubble {
    width: 25%;
    height: 40%;
    top: 10%;
    left: 20%;
}

.scene03_thoughttext1 {
    top: 25%;
}

#scene03_regBubble {
    width: 20%;
    height: 50%;
    top: 10%;
    left: 80%;
}

.scene03_regtext1 {
    top: 22%;
}

.scene03_regtext1 p {
    font-size: 2.5vh;
}

#scene03_regBubble2 {
    width: 20%;
    height: 50%;
    top: 10%;
    left: 80%;
}

.scene03_regtext2 {
    top: 17%;
}

.scene03_regtext2 p {
    font-size: 5vh;
}

#scene03_frauBubble1 {
    width: 12%;
    height: 25%;
    top: 33%;
    left: 55%;
}

#scene03_frautext1 {
    top: 18%;
}

#scene03_adamBubble1 {
    width: 15%;
    height: 30%;
    top: 22%;
    left: 25%;
}

#scene03_adamtext1 {
    top: 20%;
}

#scene03_frauBubble2 {
    width: 12%;
    height: 25%;
    top: 33%;
    left: 55%;
}

#scene03_frautext2 {
    top: 22%;
}

#scene03_adamBubble2 {
    width: 15%;
    height: 30%;
    top: 22%;
    left: 25%;
}

#scene03_adamtext2 {
    top: 25%;
}

#scene03_regBubble3 {
    width: 25%;
    height: 50%;
    top: 10%;
    left: 75%;
}

.scene03_regtext3 {
    top: 30%;
}

#scene03_2_textblock1 {
    font-size: 150%;
}

/*--- SCENE 4 ---*/
#scene04_reporter01 {
    width: 25%;
    height: 45%;
    top: 10%;
    left: 80%;
}

#scene04_reportertext1 {
    top: 26%;
}

#scene04_reporter02 {
    width: 27%;
    height: 50%;
    top: 5%;
    left: 1%;
}

#scene04_reportertext2 {
    top: 30%;
}

#scene04_reporter03 {
    width: 25%;
    height: 40%;
    top: 5%;
    left: 1%;
}

#scene04_reportertext3 {
    top: 35%;
}

#scene04_reportertext3 > p {
    font-size: 2.5vh;
}

#scene04_adamBubble1 {
    width: 15%;
    height: 40%;
    top: 15%;
    left: 30%;
}

#scene04_adamtext1 {
    top: 20%;
}

#scene04_adamtext1 > p {
    font-size: 2.5vh;
}

#scene04_adamBubble2 {
    width: 20%;
    height: 40%;
    top: 9%;
    left: 65%;
}

#scene04_adamtext2 {
    top: 22%;
}

#scene04_adamBubble3 {
    width: 25%;
    height: 50%;
    top: 8%;
    left: 23%;
}

#scene04_adamtext3 {
    top: 23%;
}

#scene04_adamBubble4 {
    width: 25%;
    height: 50%;
    top: 10%;
    left: 21%;
}

#scene04_adamtext4 {
    top: 15%;
}

#scene04_adamBubble5 {
    width: 20%;
    height: 40%;
    top: 10%;
    left: 28%;
}

#scene04_adamtext5 {
    top: 24%;
}

#scene04_adamtext5 > p {
    font-size: 2.5vh;
}

#scene04_textblock1 {
    left: 9%;
    right: auto;
}

#scene04_textblock2 {
    left: 9%;
    right: auto;
    top: 10%;
}

#scene04_textblock3 {
    left: 9%;
    right: auto;
    top: 60%;
}

#scene04_textblock4 {
    left: 9%;
    right: auto;
    top: 70%;
}

#scene04_textblock5 {
    left: 9%;
    right: auto;
    top: 70%;
}

#scene04_textline2 {
    top: 82%;
}

#scene04_textline3 {
    top: 73%;
}

#scene04_textline4 {
    top: 60%;
}

#scene04_textline5 {
    top: 50%;
}

/*--- SCENE 5 ---*/

.hurt{
    right: 0.1%!important;
}

.scene05Parallax{
    right: 0;
    height: 100vh;
    width: 100vw;
    top: 0;
}

#scene05_textline1 {
    left: 100vw;
    top: 30%;
    height: auto;
    width: 97vw;
}
#scene05_textline2 {
    left: 100vw;
    width: 97vw;
    height: auto;
}
#scene05_textline3 {
    left: 100vw;
    width: 97vw;
    height: auto;
}

#scene05_textline4 {
    top: 57%;
    width: 97vw;
    left: 100vw;
}

#scene05_textblock1 {
    top: 10%;
    left: 208vw;
    right: 9vw;
    width: auto;
    height: auto;
}

#scene05_textblock2 {
    top: 20%;
    width: 35em;
    height: auto;
    left: 250vw;
}

#scene05_textblock3 {
    width: 80vw;
    left: 209vw;
    top: 80%;
}

#scene05_textblock4 {
    width: 80vw;
    left: 209vw;
    top: 10%;
}

#scene05_bubbleGirl1 {
    width: 7em;
    height: 7em;
    top: 60%;
    left: 238vw;
}

#scene05_girlText1 {
    top: 13%;
    height: auto;
}

#scene05_girlText1 p {
    font-size: 1.5vh;
}

#scene05_bubbleAdam1 {
    width: auto;
    height: 30%;
    top: 10%;
    left: 225vw;
}

#scene05_adamText1 {
    width: 40%;
    height: auto;
    transform: translate(-55%);
}

#scene05_bubbleAdam2 {
    width: auto;
    height: 35%;
    top: 10%;
    left: 225vw;
}

#scene05_adamText2 {
    width: 40%;
    height: auto;
    transform: translate(-55%);
}

#scene05_bubbleAdam3 {
    width: auto;
    height: 30%;
    top: 10%;
    left: 225vw;
}

#scene05_adamText3 {
    width: 35%;
    height: auto;
    transform: translate(-76%);
}

#scene05_bubbleAdam4 {
    width: auto;
    height: 30%;
    top: 10%;
    left: 225vw;
}

#scene05_adamText4 {
    width: 32%;
    height: auto;
    transform: translate(-76%);}

/*--- SCENE 6 ---*/
.scene06Parallax{
    left: -0.2%;
    height: 100vh;
    width: 100vw;
}

#scene06_textlineTitle{
    right: 100.5vw;
    top: 30%;
    height: auto;
    width: 97vw;
}

#scene06_textblock1 {
    left: 9%;
    width: 70vw;
    height: auto;
    top: 90%;
}

#scene06_textblock2 {
    left: 9%;
    width: 70vw;
    height: auto;
    top: 50%;
}

#scene06_textblock3 {
    width: 80vw;
    left: -6vw;
    height: auto;
}

#scene06_textblock4 {
    top: 60%;
    width: 80vw;
    left: -6vw;
    height: auto;
}

#scene06_textblock5 {
    top: 5%;
    width: 80vw;
    left: -15vw;
    height: auto;
}

#scene06_textblock6 {
    left: 9%;
    width: 70vw;
    height: auto;
    top: 100%;
}

#scene06_textline1, #scene06_textline2, #scene06_textline3 {
    top: 25%;
    left: -26.5vw;
    width: 97vw;
    height: auto;
}

#scene06_textline4 {
    top: 26vw;
    width: 97vw;
    right: 100.5vw;
    height: auto;
}

#scene06_textline5 {
    top: -60.5%;
    width: 97vw;
    right: 100.5vw;
    height: auto;
}

#scene06_textline6 {
    top: 46%;
    width: 97vw;
    right: 100.5vw;
    height: auto;
}

#scene06_bubbleAdam1 {
    width: auto;
    height: 30%;
    top: 17%;
    left: -10vw;
}

#scene06_adamText1 {
    top: 45%;
    width: 40%;
    height: auto;
    right: 0;
    transform: translate(-52%,-50%)
}

#scene06_bubble1small {
    width: auto;
    height: 10vw;
    top: 22%;
    left: 0vw;
}

#scene06_bubble1textsmall {
    top: 45%;
    width: 30%;
    height: auto;
    left: 0;
    transform: translate(-85%,-50%);
}

#scene06_bubbleAdam2 {
    width: 20vw;
    height: 30vh;
    top: 15%;
    left: 50vw;
}

#scene06_adamText2 {
    top: 40%;
    width: 40%;
    height: auto;
    left: 0;
    transform: translate(-23%,-50%);
}

#scene06_bubble1textsmall p{
    font-size: 1.5vh;
}

.binaer{
    left: 0;
}

/*--- SCENE 7 ---*/
#scene07_textblock1 {
    left: 9%;
    right: auto;
}

#scene07_textblock2 {
    left: 9%;
    right: auto;
    top: 60%;
}

#scene07_textblock3 {
    left: 9%;
    right: auto;
}

#scene07_textblock4 {
    left: 9%;
    right: auto;
}

#scene07_textblock5 {
    left: 9%;
    right: auto;
    top: 70%;
}

#scene07_textblock6 {
    right: auto;
    top: 50%;
}

#scene07_textline1 {
    top: 91%;
}

#scene07_bubbleAdam1 {
    width: 25%;
    height: 50%;
    top: 1%;
    left: 3%;
}

#scene07_adamText1 {
    top: 14%;
}

#scene07_bubbleAdam2 {
    width: 20%;
    height: 40%;
    top: 1%;
    left: 8%;
}

#scene07_adamText2 {
    top: 15%;
}

#scene07_bubbleAdam3 {
    width: 25%;
    height: 50%;
    top: 1%;
    left: 3%;
}

#scene07_adamText3 {
    top: 16%;
}

/*--- SCENE 8 ---*/
.funken {
    left: 3.5em!important;
}
.scene08Parallax{
    left: 0;
    height: 100vh;
    width: 100vw;
}

#background2 {
    visibility: hidden;
}

#scene08_textblock1 {
    left: 4.5%;
    width: 70vw;
    height: auto;
}

#scene08_textline1{
    right: 100.5vw;
    height: auto;
    width: 97vw;
}

#scene08_textline2 {
    top: 71.5%;
    right: 100.5vw;
    height: auto;
    width: 97vw;
}

#scene08_textline3 {
    top: 38vw;
    right: 100.5vw;
    height: auto;
    width: 97vw;
}

#scene08_textblock2 {
    width: 70vw;
    height: auto;
}

#scene08_textblock3 {
    top: 55%;
    width: 70vw;
    height: auto;
}

#scene08_textblock4 {
    width: 70vw;
    height: auto;
}

#scene08_textline4 {
    right: 100.5vw;
    height: auto;
    width: 97vw;
}

#scene08_textblock5 {
    width: 70vw;
    height: auto;
    left: 4.5%;
}

#scene08_textline5 {
    top: 24vw;
    right: 100.5vw;
    height: auto;
    width: 97vw;
}

#scene08_textline6 {
    top: 20vw;
    right: 100.5vw;
    height: auto;
    width: 97vw;
}

#scene08_textline7 {
    top: 16vw;
    right: 100.5vw;
    height: auto;
    width: 97vw;
}

#scene08_regBubble1 {
    width: 20%;
    height: 40%;
    top: 10%;
}

.scene08_regtext1 {
    top: 45%;
    width: 40%;
    height: auto;
    right: 12%;
    transform: translate(-52%,-50%)
}

.scene08_regtext1 p {
    font-size: 3vh;
}

#scene08_bubbleAdam1 {
    width: 20%;
    height: 40%;
    top: 15%;
    left: 45vw;
}

#scene08_adamText1 {
    top: 47%;
    width: 25%;
    height: auto;
    right: 18.5%;
    transform: translate(-52%,-50%)
}

#scene08_bubbleAdam2 {
    width: 20%;
    height: 40%;
    top: 10%;
    left: 70vw;
}

#scene08_adamText2 {
    top: 47%;
    width: 25%;
    height: auto;
    right: 18.5%;
    transform: translate(-52%,-50%)
}

#scene08_bubbleAdam3 {
    width: 20%;
    height: 40%;
    top: 15%;
    left: 45vw;
}

#scene08_adamText3 {
    top: 47%;
    width: 25%;
    height: auto;
    right: 18.5%;
    transform: translate(-52%,-50%)
}

.scene08L .person {
    left: 0;
}

/*--- SCENE 9 ---*/
.scene09Parallax{
    right: 0;
    height: 100vh;
    width: 100vw;
    top: 0;
}
.scene09Parallax_draw{
    height: 100vh;
    width: 100vw;
    visibility: hidden;
    right:0;
    top:0;
}

#scene09_textline1 {
    left: 100vw;
    height: auto;
    width: 97vw;
}

#scene09_textline2 {
    left: 100vw;
    height: auto;
    width: 97vw;
    top: -41vw;
}

#scene09_textline3 {
    left: 100vw;
    height: auto;
    width: 97vw;
    top: -45vw;
}

#scene09_textline4 {
    left: 100vw;
    height: auto;
    width: 97vw;
    top: -32vw;
}

#scene09_textline5 {
    left: 100vw;
    height: auto;
    width: 97vw;
    top: -19vw;
}

#scene09_textblock1 {
    top: 20%;
    width: 45em;
    height: auto;
    left: 200vw;
}

#scene09_textblock2 {
    top: 50%;
    width: 45em;
    height: auto;
    left: 200vw;
}

#scene09_textblock3 {
    top: 20%;
    width: 45em;
    height: auto;
    left: 225vw;
}

#scene09_textblock4 {
    top: 60%;
    width: 45em;
    height: auto;
    left: 208vw;
}

#scene09_textblock5 {
    top: 20%;
    width: 45em;
    height: auto;
    left: 208vw;
}

#scene09_boyBubble1 {
     width: auto;
     height: 25%;
     top: 65%;
     left: 225vw;
 }

.scene09_boytext1 {
    width: 45%;
    height: auto;
    transform: translate(-55%);
    left: 11%;
    top: 25%;
}

.scene09_boytext1 p {
    font-size: 2.5vh;
}

#scene09_boyBubble2 {
    width: auto;
    height: 25%;
    top: 65%;
    left: 225vw;
}

.scene09_boytext2 {
    width: 45%;
    height: auto;
    transform: translate(-55%);
    left: 5%;
    top: 30%;
}

#scene09_boyBubble3 {
    width: auto;
    height: 35%;
    top: 57%;
    left: 225vw;
}

.scene09_boytext3 {
    width: 25%;
    height: auto;
    transform: translate(-55%);
    left: -19%;
    top: 30%;
}

#scene09_adamBubble1 {
    width: 50%;
    height: 25%;
    top: 60%;
    left: 203vw;
}

.scene09_adamtext1 {
    width: 30%;
    height: auto;
    transform: translate(-55%);
    left: -28.5%;
}

.scene09_adamtext1 p {
    font-size: 2.5vh;
}

#scene09_adamBubble2 {
    width: 60%;
    height: 30%;
    top: 55%;
    left: 201vw;
}

.scene09_adamtext2 {
    width: 7%;
    height: auto;
    transform: translate(-55%);
    left: -41.5%;
    top: 14%;
}

#scene09_adamBubble3 {
    width: 55%;
    height: 27.5%;
    top: 60%;
    left: 202vw;
}

.scene09_adamtext3 {
    width: 7%;
    height: auto;
    transform: translate(-55%);
    left: -41.5%;
    top: 25%;
}

/*--- SCENE 10 ---*/
#scene10_layer01{
    height:105%;
    width:105%;
    opacity: 1.4;
}

#scene10_textblock1 {
    left: 8%;
    right: auto;
}

#scene10_textblock2 {
    left: 8%;
    right: auto;
    top: 30%;
}

#scene10_textblock3 {
    left: 8%;
    right: auto;
    top: 60%;
}

#scene10_textblock4 {
    left: 30%;
    right: auto;
}

#scene10_textblock5 {
    left: 30%;
    right: auto;
}

#scene10_textblock6 {
    left: 8%;
    right: auto;
}

#scene10_textline1 {
    top: 100%;
}

#scene10_textline2 {
    top: 75%;
}

#scene10_textline3 {
    top: 57%;
}

#scene10_girlBubble1 {
    width: 20%;
    height: 40%;
    top: 15%;
    left: 53%;
}

#scene10_girlBubble2 {
    width: 20%;
    height: 40%;
    top: 15%;
    left: 53%;
}

#scene10_girlBubble3 {
    width: 20%;
    height: 40%;
    top: 15%;
    left: 53%;
}

#scene10_girlBubble4 {
    width: 25%;
    height: 45%;
    top: 15%;
    left: 53%;
}

.scene10_girltext2 {
    top: 32%;
}

.scene10_girltext3 {
    top: 31%;
}

.scene10_girltext4 {
    top: 23%;
}

#scene10_adamBubble1 {
    width: 20%;
    height: 40%;
    top: 15%;
    left: 7%;
}

#scene10_adamBubble2 {
    width: 20%;
    height: 40%;
    top: 15%;
    left: 7%;
}

#scene10_adamBubble3 {
    width: 20%;
    height: 40%;
    top: 15%;
    left: 7%;
}

#scene10_adamBubble4 {
    width: 20%;
    height: 40%;
    top: 15%;
    left: 7%;
}

.scene10_adamtext3 {
    top: 25%;
}

.scene10_adamtext4 {
    top: 25%;
}
/*--- SCENE 11 ---*/
.scene11Parallax{
    left: 0;
    height: 100vh;
    width: 100vw;
}

#scene11_textblock1 {
    top: 20%;
    width: 70vw;
    height: auto;
}

#scene11_textblock2 {
    left: 4.5%;
    top: 70%;
    width: 70vw;
    height: auto;
}

#scene11_textblock3 {
    left: 4.5%;
    top: 70%;
    width: 70vw;
    height: auto;
}

#scene11_textblock4 {
    top: 5%;
    width: 70vw;
    height: auto;
}

#scene11_textblock5 {
    top: 60%;
    width: 70vw;
    height: auto;
    left: 20%;
}

#scene11_textblock6 {
    top: 60%;
    width: 70vw;
    height: auto;
    left: 4.5%;
}

#scene11_textline1{
    right: 100.25vw;
    height: auto;
    width: 98vw;
    top: 92%;
}

#scene11_textline2{
    right: 100.25vw;
    height: auto;
    width: 98vw;
    top: 84.5%;
}

#scene11_bubbleAdam1 {
    width: 15%;
    height: 30%;
    top: 5%;
    left: 70vw;
}

#scene11_adamText1 {
    top: 44%;
    width: 25%;
    height: auto;
    right: 18.5%;
    transform: translate(-52%,-50%)
}

#scene11_bubbleAdam2 {
    width: 15%;
    height: 30%;
    top: 5%;
    left: 70vw;
}

#scene11_adamText2 {
    top: 44%;
    width: 25%;
    height: auto;
    right: 18.5%;
    transform: translate(-52%,-50%)
}

#scene11_bubbleGirl1 {
    width: 15%;
    height: 30%;
    top: 5%;
    left: 30vw;
}

#scene11_girlText1 {
    top: 44%;
    width: 25%;
    height: auto;
    right: 18.5%;
    transform: translate(-52%,-50%)
}

#scene11_bubbleGirl2 {
    width: 15%;
    height: 30%;
    top: 5%;
    left: 30vw;
}

#scene11_girlText2 {
    top: 44%;
    width: 25%;
    height: auto;
    right: 18.5%;
    transform: translate(-52%,-50%)
}

#scene11_bubbleGirl3 {
    width: 15%;
    height: 30%;
    top: 5%;
    left: 30vw;
}

#scene11_girlText3 {
    top: 44%;
    width: 25%;
    height: auto;
    right: 18.5%;
    transform: translate(-52%,-50%)
}

#scene11_regText1 {
    top: 21.5%;
}

/*--- SCENE 12 ---*/
.scene12Parallax{
    right: 0;
    height: 100vh;
    width: 100vw;
    top: 0;
}

#scene12_textline1 {
    left: 100vw;
    height: auto;
    width: 97vw;
    top: -80vw;
}

#scene12_textblock1 {
    top: 30%;
    width: 45em;
    height: auto;
    left: 240vw;
}

#scene12_textblock2 {
    top: 30%;
    width: 45em;
    height: auto;
    left: 180vw;
}

#scene12_textblock3 {
    top: 30%;
    width: 45em;
    height: auto;
    left: 208vw;
}

#scene12_textblock4 {
    top: 0;
    width: 45em;
    height: auto;
    left: 208vw;
}

#scene12_textblock5 {
    top: 90%;
    width: 45em;
    height: auto;
    left: 210vw;
}

#scene12_adamBubble1 {
    width: 80%;
    height: 40%;
    top: 30%;
    left: 210vw;
}

.scene12_adamtext1 {
    width: 8%;
    height: auto;
    transform: translate(-55%);
    left: -41%;
}

#scene12_audienceBubble1 {
    width: 50%;
    height: 25%;
    top: 40%;
    left: 210vw;
}

.scene12_audiencetext1 {
    width: 8%;
    top: 35%;
    height: auto;
    transform: translate(-55%);
    left: -41%;
}

#scene12_audienceBubble2 {
    width: 50%;
    height: 25%;
    top: 45%;
    left: 280vw;
}

.scene12_audiencetext2 {
    width: 8%;
    top: 35%;
    height: auto;
    transform: translate(-55%);
    left: -41%;
}

#scene12_audienceBubble3 {
    width: 50%;
    height: 25%;
    top: 35%;
    left: 250vw;
}

.scene12_audiencetext3 {
    width: 8%;
    top: 35%;
    height: auto;
    transform: translate(-55%);
    left: -41%;
}
/*---- SCENE 13 ---*/
#scene13_layer02{
    opacity: 0;
}
#scene13_adamBubble1{
    width: 43%;
    height: 43%;
    left: 20%;
    top: 5%;
}
#scene13_adamText1{
    left: -22%;
    top: 15%;
}
#scene13_adamBubble2{
    width: 30%;
    height: 30%;
    right: 5%;
    top: 5%;
}
#scene13_adamText2{
    right: 23%;
    top: 13%;
}

#scene13_adamBubble3{
    width: 35%;
    height: 35%;
    left: 22%;
    top: 7%;
}
#scene13_adamText3{
    left: -23%;
    top: 20%;
}
#scene13_adamBubble4{
    width: 35%;
    height: 35%;
    right: 5%;
    top: 5%;
}
#scene13_adamText4{
    right: 23%;
    top: 10%;
}
#scene13_adamBubble5, #scene13_adamBubble6, #scene13_adamBubble8{
    width: 35%;
    height: 36%;
    left: 23%;
    top: 5%;
}
#scene13_adamText5{
    left: -22%;
    top: 15%;
}

#scene13_adamText6{
    left: -22%;
    top: 12%;
}
#scene13_adamBubble7{
    width: 40%;
    height: 45%;
    right: 1%;
    top: 5%;
}
#scene13_adamText7{
    right: 20%;
    top: 17%;
}

#scene13_adamText8{
    left: -22%;
    top: 15%;
}
#scene13_adamBubble9{
    width: 40%;
    height: 40%;
    left: 23%;
    top:5%;
}
#scene13_adamText9{
    left: -23%;
    top: 13%;
}
#scene13_adamBubble10{
    width: 30%;
    height: 30%;
    left: 30%;
    top: 10%;
}
#scene13_adamText10{
    left: -23%;
    top: 20%;
}
#scene13_adamBubble11{
    width: 30%;
    height: 30%;
    right: 10%;
    top: 15%;
}
#scene13_adamText11{
    right: 23%;
    top: 21%;
}

/*--- DECISION ---*/
#wrapper1, #wrapper2, #wrapper3{
    position: absolute;
    width: 300vw;
    top: 0;
    height: 100vh;
    display: inline-block;
    left: -100vw;
}
#middle, #middle2, #middle3{
    position: absolute;
    height: 100vh;
    width: 100%;
    left: 100vw;
    top: 0;
}
.choice1, .choice2, .choice3{
    position: absolute;
    top: 1%;
    left: 50vw;
    transform: translate(-50%,-50%);
    height: auto;
    width: auto;
    border-bottom: 2px solid greenyellow;
}
.movieL,.movieR{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
    width: auto;
}
.movieR{
    margin-top:-5vw;
    left: 65vw;
    transform: translate(-50%,-50%);
    height: auto;
    width: auto;
}
.movieL{
    margin-top:-5vw;
    left: 18vw;
    transform: translate(-50%,-50%);
    height: auto;
    width: auto;
}
.textblockForChoices{
    width:8%;
    margin-left:-40px;
    margin-top:5vw;
    visibility: hidden;
    text-align: center;
    background-color: hsla(0, 0%, 0%, 0.58);
    padding: 10px 0 40px 0;
    border-top: 2px solid #262626;
    border-bottom:2px solid #262626;
    border-radius: 10px;
    position: absolute;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}
#right {
    position: absolute;
    height: 100vh;
    width: 100vw;
    left: 200vw
}

#left{
    position: absolute;
    height: 100vh;
    width: 100vw;
    left: 0;
}

.button{
    position: absolute;
    visibility: hidden;
    top: 50%;
    width: 90px;
    height: 90px;
    transform: translateY(-50%);
    border-bottom: 1px solid transparent;
}
.buttonL,.buttonL2, .buttonL3{
    left: 10vw;
}
.buttonR,.buttonR2, .buttonR3{
    left: 90vw;
}

.arrow{
    fill: grey;

}
.button:hover .arrow{
    animation-name: arrow;
    animation-duration: 2s;
    animation-iteration-count:infinite;
}
@keyframes arrow {
    0% {
        fill:dimgrey;
    }
    50% {
        fill:white;
    }
    100% {
        fill:dimgrey;
    }
}

.opacity0{
    opacity: 0;
}
#scene11_bright{
    filter:none;
}


#scene14{
    width:40%;
    height:40%;
}

.name_credits{
    position: absolute;
    margin: 0 auto;
    width:100%;
    top:40%;
    font-size: 5vh;
    visibility: hidden;
    z-index: 2;
}
#hsd_logo{
    position: absolute;
    margin:0 auto;
    width:10%;
    height:10%;
    top:50%;
    left:45%;
    visibility: hidden;
    z-index: 1;
}
#border{
    border-bottom:1px solid red;
    visibility: hidden;
}
