/*
stylesheet for all Scenes
*/

/*
class content for every layer in scene needed
*/
.content {
    height: 100%;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}

.story {
    align-items: center;
    flex-direction: column;
    display: flex;
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
}


/*
SPEECHBUBBLE FOR EVERY SCENE USEABLE
/////////////////////////////////////
*/
.speechbubble_diamand {
    background: url("../Media/speechbubbles/Endversion Diamant.png");
    z-index: 99;
}

.speechbubble_circle {
    background: url("../Media/speechbubbles/Endversion Kreis.png");
    z-index: 99;
}

.speechbubble_square {
    background: url("../Media/speechbubbles/Endversion Viereck.png");
    z-index: 99;
}

/*
/////////////////////////////////////

 */
.inner_content {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 30%;
    width: 70%;
    height: 40%;
    text-align: center;
}

.scene1bubble {
    top: 20%;
}

.inner_content > p {
    font-size: 2vh;
}

#Prolog {
    background: black;
    width: 70%;
    height: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

/*--- SCENE 1 ---*/
.scene01 {
    position: relative;
}
#cover {
    position: relative;
}

#scene01_bubble_quinn {
    visibility: hidden;
    position: absolute;
    width: 15%;
    height: 30%;
    bottom: 25%;
    left: 24%;
    text-align: center;
}

#scene01_bubble1 {
    visibility: hidden;
    position: absolute;
    width: 15%;
    height: 30%;
    top: 18%;
    right: 30%;
}

#scene_one_quinn {
    visibility: hidden;
    width: 8%;
    height: 30%;
    position: absolute;
    left: 20%;
    bottom: 0;
    z-index: 5;
}

#scene_one_second_layer {
    position: absolute;
    z-index: 4;
}

#scene_one_third_layer {
    position: absolute;
    z-index: 3;
}

#scene_one_fourth_layer {
    position: absolute;
    z-index: 1;
}

#scene_one_fifth_layer {
    position: absolute;
    z-index: 0;
}

/*--- SCENE 2 ---*/
.blur {
    filter: none;
}

.scene02 {
    position: relative;
}

.scenes_layer0 {
    position: absolute;
    z-index: 0;
}

.scenes_layer01 {
    position: absolute;
    z-index: 1;
}

.scenes_layer02 {
    position: absolute;
    z-index: 2;
}

.scenes_layer03 {
    position: absolute;
    z-index: 3;
}

.scenes_layer04 {
    position: absolute;
    z-index: 4;
}

#scene02_foreground {
    bottom: -12% !important;
}

#scene02_quinn {
    position: absolute;
    z-index: 1;
    width: 30%;
    height: 90%;
    bottom: -10%;
    left: 10%;
}

.textblock_prolog {
    z-index: 2;
    visibility: hidden;
    font-size: 3.5vh;
    text-align: justify;
}

.textblock {
    z-index: 3;
    visibility: hidden;
    font-size: 3.5vh;
    text-align: justify;
    background-color: hsla(0, 0%, 0%, 0.58);
    padding: 20px;
    border: 2px solid #262626;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
    position: absolute;
}

.textline {
    z-index: 2;
    font-size: 200%;
    visibility: hidden;
    font-size: 5vh;
    text-align: center;
    position: relative;
}

.dark_textline {
    visibility: hidden;
    text-align: center;
    position: relative;
    background-color: hsla(360, 100%, 100%, 0.8);
    padding: 20px;
    color: #262626;
    font-size: 3vh;
}

.scene2bubble {
    top: 15%;
}

#scene02_bubble1 {
    visibility: hidden;
    position: absolute;
    width: 30%;
    height: 90%;
    top: 10%;
    right: 30%;
}

#scene02_textblock1 {
    top: 21%;
    position: relative;
}

#scene02_textblock2 {
    text-align: center;
    left: 8%;
    right: auto;
}

#scene02_textblock3 {
    top: 70%;
    left: 8%;
    right: auto;
}

#scene02_textblock4 {
    font-size: 200%;
    background-color: hsla(0, 0%, 0%, 0.58);
    padding: 20px;
    text-align: center;
    top: 15%;
}

#scene02_textblock5 {
    left: 8%;
    right: auto;
    top: 30%;
}

#scene02_textline1 {
    font-size: 200%;
    position: relative;
    text-shadow: 2px 2px #262626;
}

#scene02_textline2 {
    font-size: 200%;
    position: relative;
    text-shadow: 2px 2px #262626;
}

#scene02_textline3 {
    font-size: 200%;
    position: relative;
    text-shadow: 2px 2px #262626;
}

/*--- SCENE 3 ---*/

#scene03_adam1 {
    position: absolute;
    z-index: 1;
}

#scene03_adam2 {
    position: absolute;
    z-index: 1;
}

#scene03_adam3 {
    position: absolute;
    z-index: 1;
}

#scene03_adam4 {
    position: absolute;
    z-index: 1;
}

.scene03 .textline {
    font-size: 200%;
    position: relative;
    background-color: hsla(0, 0%, 0%, 0.58);
    padding: 20px;
}

#scene03_textline2 {
    top: 50%;
}

.scene03_adam2, .scene03_adam3, .scene03_adam4 {
    visibility: hidden;
}

#scene03_textblock2 {
    left: 8%;
    right: auto;
}

#scene03_textblock3 {
    background-color: hsla(0, 0%, 0%, 0.58);
    padding: 20px;
    top: -9.5%;
}

#scene03_textblock4 {
    left: 9%;
    top: 50%;
}

#scene03_thoughtBubble {
    visibility: hidden;
    position: absolute;
    width: auto;
    height: 37%;
    top: 10%;
    left: 20%;
}

.scene03_thoughttext1 {
    left: -7%;
}

#scene03_regBubble {
    visibility: hidden;
    position: absolute;
    width: auto;
    height: 40%;
    top: 10%;
    left: 80%;
}

.scene03_regtext1 {
    top: 19%;
}

#scene03_regBubble2 {
    visibility: hidden;
    position: absolute;
    width: 10%;
    height: 50%;
    top: 15%;
    left: 83%;
}

.scene03_regtext2 {
    top: 10%;
}

#scene03_frauBubble1 {
    visibility: hidden;
    position: absolute;
    width: auto;
    height: 20%;
    top: 35%;
    left: 55%;
}

#scene03_frautext1 {
    top: 13%;
}

#scene03_adamBubble1 {
    visibility: hidden;
    position: absolute;
    width: auto;
    height: 30%;
    top: 22%;
    left: 27%;
}

#scene03_adamtext1 {
    top: 15%;
}

#scene03_frauBubble2 {
    visibility: hidden;
    position: absolute;
    width: 10%;
    top: 35%;
    left: 55%;
}

#scene03_frautext2 {
    top: 4%;
}

#scene03_adamBubble2 {
    visibility: hidden;
    position: absolute;
    width: auto;
    height: 30%;
    top: 25%;
    left: 30%;
}

#scene03_adamtext2 {
    top: 15%;
}

#scene03_regBubble3 {
    visibility: hidden;
    position: absolute;
    width: auto;
    height: 50%;
    top: 10%;
    left: 70%;
}

.scene03_regtext3 {
    top: 40%;
}

/*--- SCENE 4 ---*/
#Scene4 {
    background: url(../Fotos/Szene04_Presse.jpg) 50% 0;
}

/*--- SCENE 5 ---*/
#Scene5 {
    background: url(../Fotos/Szene05_DunkleStrasse.jpg) 50% 0;
}

/*--- SCENE 6 ---*/
#Scene6 {
    background: url(../Fotos/Szene06_StrasseMitBergen.jpg) 50% 0;
}

/*--- SCENE 7 ---*/
#Scene7 {
    background: url(../Fotos/Szene07_Gala.jpg) 50% 0;
}

/*--- SCENE 8 ---*/
#Scene8 {
    background: url(../Fotos/Szene08_DunkleStrasse.jpg) 50% 0;
}

/*--- SCENE 9 ---*/
#Scene9 {
    background: url(../Fotos/Szene09_JahrmarktMitKind.jpg) 50% 0;
}

/*--- SCENE 10 ---*/
#Scene10 {
    background: url(../Fotos/Szene10_Cafe.jpg) 50% 0;
}

/*--- SCENE 11 ---*/
#Scene11 {
    background: url(../Fotos/Szene11_Flughafen.jpg) 50% 0;
}

/*--- SCENE 12 ---*/
#Scene12 {
    background: url(../Fotos/Szene12_Konzert.jpg) 50% 0;
}
