body {
    margin: 0;
    font-family: sans-serif;
}

.slide{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    text-align: center;
}

.intro {
    background: #305a5b;
}

.parallax {
    background: BLACK ;
}


.story {
    background: BLACK;
    justify-content: space-around;
}