@font-face {
    font-family: 'azonix';
    src: url('../Media/fonts/azonix/azonix.otf') format("opentype");
}

@font-face {
    font-family: 'adam';
    src: url("../Media/fonts/Adam.otf") format("opentype");
}

@font-face {
    font-family: 'mesmerize';
    src: url("../Media/fonts/mesmerize/mesmerize-ul.ttf") format("truetype");
}

html {
    height: 100vh;
    width: 100%;
    font-family: mesmerize, sans-serif;
    color: #FFFFFF;
    text-shadow: 1px 1px 10px #000000;
}

h2 {
    font-family: adam, sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    width: 100%;
    background: black;
    overflow-x: hidden;
}

img {
    vertical-align: bottom;
    display: flex;
    width: 100%;
    height: 99.9%;
}

.section {
    height: 100vh;
    display: block;
}

::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(255, 255, 255, 0.5);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
}

#progresscontainer {
    height: .1vh;
    position: absolute;
    top: 60vh !important;
    left: 50%;
    transform: translate(-50%, -50%);
    fbackground: rgba(0, 0, 0, 0.3);
    width: 60vw;
    z-index: 200;
    fborder: solid 1px rgba(0, 0, 0, 0.9);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#progress {
    z-index: 0;
    height: .2vh;
    background: black;
    border-radius: 8px;
    opacity: 1;
}

#percentage {
    position: absolute;
    color: black;
    left: 50%;
    transform: translate(-50%, -120%);
    font-size: 30px;
    font-weight: 900 !important;
}

.fadeIn {
    visibility: visible;
    opacity: 1 !important;
    transition: opacity 4s;
}

.fadeOut {
    opacity: 0 !important;
    transition: opacity 3s !important;
}

#scrollIndicator {
    opacity: 0;
}

#cover_title {
    opacity: 0;
}

#hidden {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    overflow-x: hidden;
}

#hidden p {
    position: absolute;
    font-size: 4vh;
    hyphens: auto;
    width: 100%;
    text-align: center;
    top: 30%;
    padding: 20px 20px 20px 0;
}
#rotate{
    width:25%;
    position: absolute;
    left:35%;
    top:45%;
}
